@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Bitter", serif;
}

.App {
  background-image: url(./assets/Gradient.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 80px;
  min-height: 100vh;
}

.slider-container {
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.movieBanner {
  height: 75vh;
  background-size: cover;
  background-position: center;
  align-content: flex-end;
}

.movieCard {
  min-height: 45vh;
  width: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 300ms;
}

.movieTitle {
  border-radius: 0 0 12px 12px;
}

.heading {
  padding: 6px 12px;
}

.heading:hover {
  background-color: rgb(55 65 81 /1);
  border-radius: 6px;
}

.searchMovies {
  background-color: rgb(55 65 81 / 1)
}

.searchMovies:focus {
  background-color: white !important;
}

.searchIconMovies path {
  fill: rgb(156 163 175 / 1);
}

.deleteMovie svg path {
  fill: red;
}

.searchIcon {
  position: absolute;
  padding: 12px;
}

.searchIconWatchlist path {
  fill: darkslategray;
}

.watchlistContainer {
  min-height: calc(100vh - 74px);
  background-attachment: fixed;
}

.activeGenre {
  background-color: #00B4D8;
}

.inactiveGenre {
  background-color: #6C757D;
}

.watchlistTable td {
  color: white;
}

.search {
  background-color: #f5f5f5;
}

.pagination {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 6px;
  align-content: center;
  text-align: center;
}

.navigation:hover {
  background-color: rgb(55 65 81 / 1);
}

.genreOptions::-webkit-scrollbar {
  display: none;
}

.tableBorder {
  border-top: 1px solid;
  border-color: rgb(255 255 255 / 0.2);
}

.headBorder {
  border-bottom: 1px solid white;
}

.noMovieFound {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  padding: 40px 0;
}

.paginationRecord {
  word-spacing: 1px;
}

.previous {
  border-radius: 6px 0px 0 6px;
}

.next {
  border-radius: 0 6px 6px 0;
}